<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="google-signin-client_id" content="742157003345-c9q5h9ll7fp9ce9mf0houe0gnuhegeen.apps.googleusercontent.com"> <!--Authorised URI is http://localhost:8000 -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="../static/g-auth.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<div class="container">
    <h2 class="text">Login</h2>
    <form name="my_form" method="post" action="{{ url_for('home_page') }}">
        <div class="data">
            <h3>Username</h3>
            <input type="text" name="user"><br>
            <br>
        </div>
        <div class="data">
            <h3>Password</h3>
            <input type="text" name="pass"><br>
            <br>
        </div>
        <h4 class="signup-link">Do not have an account? <a href="{{ url_for('register_page') }}">
            <div>
                Sign Up
            </div>
        </a></h4>
        <br>
        <br>

        <div class="btn">
            <div class="inner">
            </div>
            <input type="submit">
        </div>
        <br>
        <div class="g-signin2" data-width="300" data-height="50" data-longtitle="true" data-onsuccess="onSignIn"></div>
    </form>
</div>

</body>
</html>
